:root {
  --bg-dark: #0d0e14;
  --card-bg: #161821;
  --neon-orange: #ff4d00;
  --text-main: #e0e0e0;
  --neon-success: #39ff14;
  --neon-error: #ff003c;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}

.logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 0 10px var(--neon-orange);
  margin-bottom: 2rem;
}

.logo span {
  color: var(--neon-orange);
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--neon-orange);
  color: var(--neon-orange);
  padding: 10px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* only hover effect on desktop */

@media (hover: hover) {
  .btn-outline:not(:disabled):hover {
    background: var(--neon-orange);
    color: #fff;
    box-shadow:
      0 0 20px var(--neon-orange),
      0 0 40px var(--neon-orange);
    transform: translateY(-2px);
  }
}

.btn-outline:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-outline.is-correct {
  background-color: var(--neon-success);
  opacity: 1;
  color: var(--text-main);
  border: none;
  color: black;
  box-shadow:
    0 0 20px var(--neon-success),
    0 0 40px var(--neon-success);
}

.btn-outline.is-wrong {
  background-color: var(--neon-error);
  opacity: 1;
  color: var(--text-main);
  border: none;
  box-shadow:
    0 0 20px var(--neon-error),
    0 0 40px var(--neon-error);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.game-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  max-width: 100vw;
  width: 100%;
  @media (min-width: 768px) {
    max-width: calc(1000px + 2rem);
    grid-template-columns: 1fr 400px;
    gap: 32px;
  }
}

h1 {
  text-align: center;
  margin-top: 0;
}

.loading-text {
  color: var(--neon-orange);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
